h1  {
    margin: 0px;
    font-family: 'Sacramento', cursive;
    color: #4ab19a;
    font-size: 100px;
}
body {
    margin: 0px;
    font-family: 'Baloo Paaji 2', cursive;
    color: #4ab19a;
}
p {
    font-family: serif;
    font-size: 22px;
    color: #545454;
}
hr {
    border: dotted lightgray 6px;
    border-bottom: none;
    width: 4%;
    position: relative;
    bottom: 35px;
}
.top-container {
    background-color: #e0ebe8;
}
.middle-container {
    padding: 0px 0px 0px 0px;
}
.bottom-cloud {
    position: absolute;
    top: 320px;
    right: 65%;
}
.top-container {
    text-align: center;
    padding-top: 220px;
}
.top-cloud {
    position: absolute;
    left: 67%;
    top: 20%;
}
.profile {
    text-align: center;
    padding-top: 20px;
}
.skills {
    text-align: center;
}
.contact-me {
    text-align: center;
}
.bottom-container {
    height: 100px; 
    text-align: center;
    background-color: #c5ded7;
    padding-top: 30px;
}
.footer-link {
    padding: 30px;
}
.contact-me {
    padding: 0px 700px 70px 700px;
    text-align: center;

}
.land {
    position: relative;
    top: 10px;
}
.a-programmer {
    position: relative;
    bottom: 25px;
    color: #4ab19a;
    font-family: sans-serif;
}
.profile {
    padding-top: 100px;
    padding-bottom: 80px;
}
.my-skills {
    color: #1e836c;
}
.skill-row {
    padding-bottom: 100px;
    padding-top: 40px;
    width: 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 2;
    font-size: 23px;
}
.my-skills {
    color: #1e836c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    position: relative;
    top: 20px;
    padding-bottom: 50px;
}
.copyright {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #4ab19a;
}
.footer-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:  #4ab19a;
}
.footer-link:hover {
    color: #ffffff
}
a:hover {
    cursor: pointer;
}
.get-in-touch {
    color:  #1e836c;
    font-size: 34px;
}
.skill-img2 {
    width: 20%;
    float: left;
    margin-right: 45px;
    position: relative;
    top: 25px;
}
.skill-img1 {  
    width: 20%;
    float: right;
    margin-left: 45px;
    position: relative;
    top: 40px;
}
.intro {
    padding: 0px 600px 0px 600px;
}
.skill-text {
    font-size: 23px;
}
.wrap {
    padding-top: 20px;
}
.btn {
    display: block;
    width: 115px;
    height: 25px;
    background: #4ab19a;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    left: 190px;
    top: 20px
}
#skill-row1 {
    position: relative;
    bottom: 70px;
}
.h3 {
    font-size: 19px;
}
.hr3 {
    position: relative;
    bottom: 90px;
}
.mail {
    padding-right: 50px;
    padding-left: 50px;
}